*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

        scroll-behavior:smooth !important;

    }

/*MOBILE*/

@media (max-width:767.98px){    

    .header-mobile{
        display:flex;
    }

    .header-desktop{
        display:none;
    }

    header{

        width:100%;
        height:76px;
        background:#ffffff;
        display:flex;
        align-items:center;
        padding-block: 24px 28px;
        padding-inline: 28px;
    }

    .navbar{

        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;

    }

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .logo{ 

        display:flex; 
        align-items:center; 
        gap: 3px; 

    }

    .logo img:first-child{

        width: 57px;
        height: 42px;

    }

    .logo-text{

        display:flex;
        align-items:center;
        padding-top: 7px;
        font-family: 'Nunito', sans-serif;

    }

    .logo-text p{

        font-size:20px;
        font-weight:700;
        color:#0A51D6;

        letter-spacing:-1px;

    }

    .logo-text strong{

        color:#DA481F;
        font-weight:700;

    }

    .menu-btn{

        width:34px;
        height:32px;
        border: none;
        border-radius: 12px;
        background: #2463EB;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        margin-top: 4px;

    }

    .menu-btn span{

        width:16px;
        height:2px;
        background:#ffffff;
        border-radius:5px;

    }
    
    .menu-overlay{

        position:fixed;
        top:76px;
        left:0;
        width:100%;
        height:calc(100vh - 76px);
        background:rgba(101, 117, 139, 0.50);
        display:flex;
        justify-content:flex-end;
        opacity:0;
        visibility:hidden;
        transition:opacity .3s ease;
        z-index:999;
    }

    .menu-overlay.active{

        opacity:1;
        visibility:visible;

    }

    .mobile-menu{

        width:220px;
        height:409px;
        background:#FFFFFF;
        border-radius:30px 0 0 30px;
        display:flex;
        flex-direction:column;
        overflow:hidden;
        transform:translateX(100%);
        transition:transform .45s cubic-bezier(0.22, 1, 0.36, 1);

    }

    .mobile-menu a{

        height:60px;
        display:flex;
        justify-content:flex-end;
        padding-right: 30px;
        align-items:center;
        text-decoration:none;
        color:#65758B;
        font-family:'Poppins', sans-serif;
        font-size:15px;
        font-weight:600;
        border-bottom:.5px solid #88909c81;
        transition:0.3s;

    }

    .mobile-menu a:hover{

        color:#2463EB;

    }

    .mobile-menu .active{

        color:#2463EB;

    }

    .mobile-menu a:last-child{

        border-bottom:none;

    }

    .menu-overlay.active .mobile-menu{

        transform:translateX(0);

    }

    body.menu-open{

        overflow:hidden;

    }

    .switch{

        margin-top: -5px;
        right: 28px;
        width:34px;
        height:18px;
        background:#3F4757;
        border-radius:30px;
        position:absolute;

    }

    .switch::before{

        content:"";
        width:14px;
        height:14px;
        background:#FFFFFF;
        border-radius:50%;
        position:absolute;
        top:2px;
        left:2px;

    }   

    .references-hero{

        width:100%;
        padding:25px 22px 35px;
        background:#2463EB33;

    }

    .references-top{

        display:flex;
        justify-content:center;

    }

    .references-tag{

        margin-top:15px;
        padding:5px 12px;
        background:rgba(36, 99, 235, 0.20);
        border-radius:20px;
        font-family:'Montserrat', sans-serif;
        font-size:7px;
        font-weight:600;
        color:#2463EB;

    }

    .references-hero h1{

        margin-top:10px;
        text-align:center;
        font-family:'Poppins', sans-serif;
        font-size:20px;
        font-weight:700;
        color:#0F1729;

    }

    .references-hero p{

        margin:10px auto 0;
        max-width:197px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:9px;
        font-weight:600;
        color:#65758B;

    }

    .section-divider{

        border:0;
        border-top:1px solid #65758B80;
        margin:0px 0 38px;

    }

    html{

        scroll-behavior:smooth ;

    }

    #dislexia,
#ocr,
#gamificacao,
#educacao,
#tecnologia{

        scroll-margin-top:20px;

}

    .references-stats{

        margin-top:10px;
        display:flex;
        justify-content:center;
        gap:34px;

    }

    .references-stat{

        display:flex;
        flex-direction:column;
        align-items:center;

    }

    .references-stat h2{

        font-family:'Poppins', sans-serif;
        font-size:15px;
        font-weight:600;
        color:#0F1729;

    }

    .references-stat span{

        margin-top:2px;
        font-family:'Inter', sans-serif;
        font-size:7px;
        font-weight:600;
        color:#65758B;

    }

    .references-filter{

        display:flex;
        justify-content:center;
        flex-wrap:wrap;
        gap:12px;
        padding:24px;

    }

    .references-filter a{

        padding:4px 5px;
        background:rgba(36, 99, 235, 0.20);
        border-radius:5px;
        text-decoration:none;
        font-family:'Montserrat', sans-serif;
        font-size:7px;
        font-weight:600;
        color:#2463EB;

    }

    .references-filter a:hover{

        background:#2463EB;
        color:#FFFFFF;

    }

    .reference-section{

        padding:30px 0 70px;

    }

    .reference-card{

        width:300px;
        margin:0 auto 25px;
        padding:20px 27px;

        background:#FDFDFD;
        border:1px solid #88909C;
        border-radius:30px;

    }

    .reference-top{

        display:flex;
        align-items:center;
        gap:15px;

    }

    .reference-category{

        padding:4px 5px;

        background:rgba(36, 99, 235, 0.20);
        border-radius:5px;

        font-family:'Montserrat', sans-serif;
        font-size:7px;
        font-weight:600;
        color:#2463EB;

    }

    .reference-year{

        font-family:'Inter', sans-serif;
        font-size:7px;
        font-weight:600;
        color:#65758B;

    }

    .reference-card h3{

        margin-top:16px;

        font-family:'Poppins', sans-serif;
        font-size:9px;
        font-weight:600;
        color:#0F1729;

    }

    .reference-card p{

        margin-top:6px;

        font-family:'Poppins', sans-serif;
        font-size:7px;
        font-weight:600;
        color:#65758B;

    }

    .reference-button{

        width:55px;
        height:17px;
        margin-top:13px;

        display:flex;
        justify-content:center;
        align-items:center;
        gap:4px;

        border:1px solid #65758B;
        border-radius:15px;

        text-decoration:none;

        transition:.25s;

    }

    .reference-button img{

        width:9px;

    }

    .reference-button span{

        font-family:'Poppins', sans-serif;
        font-size:6px;
        font-weight:600;
        color:#0F1729;

    }

    .reference-button:hover{

        background:#2463EB;
        border-color:#2463EB;

    }

    .reference-button:hover span{

        color:#FFFFFF;

    }

    .reference-button:hover img{

        filter:brightness(0) invert(1);

    }

    .references-notice{

        margin-top: 50px;
        padding:50px 0 60px;
        background: linear-gradient(180deg, rgba(36, 99, 235, 0.20) -3.29%, rgba(253, 253, 255, 0.20) 102.37%);

    }

    .notice-card{

        width:300px;
        margin:0 auto;

        padding:32px 42px;

        background:#FDFDFD;

        border:1px solid #65758B    ;
        border-radius:30px;

    }

    .notice-header{

        display:flex;
        align-items:center;
        gap:7px;

    }

    .notice-header img{

        width:20px;

    }

    .notice-header h2{

        font-family:'Poppins', sans-serif;
        font-size:12px;
        font-weight:600;
        color:#0F1729;

    }

    .notice-card p{

        margin-top:16px;

        font-family:'Poppins', sans-serif;
        font-size:8px;
        font-weight:600;
        color:#65758B;

    }

    /*FOOTER*/

    .mobile-footer{

        width:100%;
        padding:25px 22px;
        background:#1E212B;
        display:flex;
        justify-content:center;
        align-items:center;

    }

    .footer-container{

        display:flex;
        flex-direction:column;
        align-items:center;

    }

    .footer-logo{

        display:flex;
        align-items:center;
        justify-content:center;
        gap:6px;
        margin-bottom:11px;

    }

    .footer-logo img{

        width:31px;

    }

    .footer-logo h2{

        margin-top:7px;
        font-family:'Nunito', sans-serif;
        font-size:13px;
        font-weight:700;
        color:#FDFDFD;

    }

    .mobile-footer p{

        font-family:'Montserrat', sans-serif;
        font-size:8px;
        font-weight:600;
        color:#88909C;
        text-align:center;

    }

    .footer-logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

}

/*TABLET*/

@media (min-width: 768px)  and (max-width:991.98px){

    .header-mobile{
        display:none;
    }

    .header-desktop{
        display:flex;
    }

}

/*DESKTOP*/

@media (min-width: 992px) and (max-width:1199.98px){

    .header-mobile{
        display:none;
    }

    .header-desktop{
        display:flex;
    }

}

/*LARGE SCREEN*/

@media (min-width:1200px){

    .header-mobile{
        display:none;
    }

    .header-desktop{
        display:flex;
    }

}