*{

margin:0;
padding:0;
box-sizing:border-box;

}

:root{

    --white:#FFFFFF;

    --background:#FDFDFD;
    --background-alt:#FDFDFF;
    --background-light:#F5F5F5;

    --primary:#2463EB;
    --primary-hover:#0A51D6;
    --primary-alt:#2563EB;

    --primary-50:#2463EB33;
    --primary-20:rgba(36,99,235,.20);
    --primary-10:rgba(36,99,235,.10);

    --primary-shadow:#2463EB80;

    --primary-light:#C8D8FF;
    --primary-lighter:#E8F0FF;

    --primary-overlay:rgba(47,107,236,.20);
    --primary-overlay-alt:rgba(37,67,135,.20);

    --accent:#DA481F;

    --text:#0F1729;
    --text-alt:#17213D;
    --text-muted:#65758B;
    --text-muted-alt:#64748B;
    --text-light:#A9B2C0;
    --text-black:#000000;

    --border:#88909C;
    --border-light:#CECECE;
    --border-opacity:#88909C81;

    --surface-dark:#1E212B;
    --surface-dark-alt:#1E293B;

    --switch:#3F4757;

    --overlay:rgba(101,117,139,.50);

    --surface-overlay:rgba(253,253,255,.20);

    --shadow-light:rgba(0,0,0,.02);

}

body.dark{
    --switch-dark-bg:#FDFDFDCC;
    --switch-knob-dark:#262C3B;

    --white:#FFFFFF;

    --background:#0F1729;
    --background-alt:#17213D;
    --background-light:#1E293B;

    --text:#FFFFFF;
    --text-alt:#E2E8F0;
    --text-muted:#CBD5E1;
    --text-muted-alt:#94A3B8;
    --text-light:#64748B;
    --text-black:#FFFFFF;

    --border:#334155;
    --border-light:#475569;
    --border-opacity:rgba(51,65,85,.50);

    --surface-dark:#020617;
    --surface-dark-alt:#0F1729;

    --switch:#2463EB;

    --overlay:rgba(2,6,23,.70);

    --surface-overlay:rgba(15,23,41,.20);

    --shadow-light:rgba(0,0,0,.25);

}

html{

        scroll-behavior:smooth !important;

    }

/*MOBILE*/

@media (max-width:767.98px){    

    .header-mobile{
        display:flex;
    }

    .header-desktop{
        display:none;
    }

    header{

        width:100%;
        height:76px;
        background:var(--white);
        display:flex;
        align-items:center;
        padding-block: 24px 28px;
        padding-inline: 28px;
    }

    .navbar{

        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;

    }

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .logo{ 

        display:flex; 
        align-items:center; 
        gap: 3px; 

    }

    .logo img:first-child{

        width: 57px;
        height: 42px;

    }

    .logo-text{

        display:flex;
        align-items:center;
        padding-top: 7px;
        font-family: 'Nunito', sans-serif;

    }

    .logo-text p{

        font-size:20px;
        font-weight:700;
        color:var(--primary-hover);

        letter-spacing:-1px;

    }

    .logo-text strong{

        color:var(--accent);
        font-weight:700;

    }

    .menu-btn{

        width:34px;
        height:32px;
        border: none;
        border-radius: 12px;
        background: var(--primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        margin-top: 4px;

    }

    .menu-btn span{

        width:16px;
        height:2px;
        background:var(--white);
        border-radius:5px;

    }
    
    .menu-overlay{

        position:fixed;
        top:76px;
        left:0;
        width:100%;
        height:calc(100vh - 76px);
        background:var(--overlay);
        display:flex;
        justify-content:flex-end;
        opacity:0;
        visibility:hidden;
        transition:opacity .3s ease;
        z-index:999;
    }

    .menu-overlay.active{

        opacity:1;
        visibility:visible;

    }

    .mobile-menu{

        width:220px;
        height:409px;
        background:var(--white);
        border-radius:30px 0 0 30px;
        display:flex;
        flex-direction:column;
        overflow:hidden;
        transform:translateX(100%);
        transition:transform .45s cubic-bezier(0.22, 1, 0.36, 1);

    }

    .mobile-menu a{

        height:60px;
        display:flex;
        justify-content:flex-end;
        padding-right: 30px;
        align-items:center;
        text-decoration:none;
        color:var(--text-muted);
        font-family:'Poppins', sans-serif;
        font-size:15px;
        font-weight:600;
        border-bottom:.5px solid var(--border-opacity);
        transition:0.3s;

    }

    .mobile-menu a:hover{

        color:var(--primary);

    }

    .mobile-menu .active{

        color:var(--primary);

    }

    .mobile-menu a:last-child{

        border-bottom:none;

    }

    .menu-overlay.active .mobile-menu{

        transform:translateX(0);

    }

    body.menu-open{

        overflow:hidden;

    }

    .switch{

        margin-top: -5px;
        right: 28px;
        width:34px;
        height:18px;
        background:var(--switch);
        border-radius:30px;
        position:absolute;
        transition:.3s;

    }

    .switch::before{

        content:"";
        width:14px;
        height:14px;
        background:var(--white);
        border-radius:50%;
        position:absolute;
        top:2px;
        left:2px;
        transition:.3s ease;

    }   

    body.dark .switch{

        background:var(--switch-dark-bg);

    }

    body.dark .switch::before{

        background:var(--switch-knob-dark);

        transform:translateX(16px);

    }

    .references-hero{

        width:100%;
        padding:25px 22px 35px;
        background:var(--primary-50);

    }

    .references-top{

        display:flex;
        justify-content:center;

    }

    .references-tag{

        margin-top:15px;
        padding:5px 12px;
        background:var(--primary-20);
        border-radius:20px;
        font-family:'Montserrat', sans-serif;
        font-size:7px;
        font-weight:600;
        color:var(--primary);

    }

    .references-hero h1{

        margin-top:10px;
        text-align:center;
        font-family:'Poppins', sans-serif;
        font-size:20px;
        font-weight:700;
        color:var(--text);

    }

    .references-hero p{

        margin:10px auto 0;
        max-width:197px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:9px;
        font-weight:600;
        color:var(--text-muted);

    }

    .section-divider{

        border:0;
        border-top:1px solid var(--text-muted)80;
        margin:0px 0 38px;

    }

    html{

        scroll-behavior:smooth ;

    }

    #dislexia,
#ocr,
#gamificacao,
#educacao,
#tecnologia{

        scroll-margin-top:20px;

}

    .references-stats{

        margin-top:10px;
        display:flex;
        justify-content:center;
        gap:34px;

    }

    .references-stat{

        display:flex;
        flex-direction:column;
        align-items:center;

    }

    .references-stat h2{

        font-family:'Poppins', sans-serif;
        font-size:15px;
        font-weight:600;
        color:var(--text);

    }

    .references-stat span{

        margin-top:2px;
        font-family:'Inter', sans-serif;
        font-size:7px;
        font-weight:600;
        color:var(--text-muted);

    }

    .references-filter{

        display:flex;
        justify-content:center;
        flex-wrap:wrap;
        gap:12px;
        padding:24px;

    }

    .references-filter a{

        padding:4px 5px;
        background:var(--primary-20);
        border-radius:5px;
        text-decoration:none;
        font-family:'Montserrat', sans-serif;
        font-size:7px;
        font-weight:600;
        color:var(--primary);

    }

    .references-filter a:hover{

        background:var(--primary);
        color:var(--white);

    }

    .reference-section{

        padding:30px 0 70px;

    }

    .reference-card{

        width:300px;
        margin:0 auto 25px;
        padding:20px 27px;

        background:var(--background);
        border:1px solid var(--border);
        border-radius:30px;

    }

    .reference-top{

        display:flex;
        align-items:center;
        gap:15px;

    }

    .reference-category{

        padding:4px 5px;

        background:var(--primary-20);
        border-radius:5px;

        font-family:'Montserrat', sans-serif;
        font-size:7px;
        font-weight:600;
        color:var(--primary);

    }

    .reference-year{

        font-family:'Inter', sans-serif;
        font-size:7px;
        font-weight:600;
        color:var(--text-muted);

    }

    .reference-card h3{

        margin-top:16px;

        font-family:'Poppins', sans-serif;
        font-size:9px;
        font-weight:600;
        color:var(--text);

    }

    .reference-card p{

        margin-top:6px;

        font-family:'Poppins', sans-serif;
        font-size:7px;
        font-weight:600;
        color:var(--text-muted);

    }

    .reference-button{

        width:55px;
        height:17px;
        margin-top:13px;

        display:flex;
        justify-content:center;
        align-items:center;
        gap:4px;

        border:1px solid var(--text-muted);
        border-radius:15px;

        text-decoration:none;

        transition:.25s;

    }

    .reference-button img{

        width:9px;

    }

    .reference-button span{

        font-family:'Poppins', sans-serif;
        font-size:6px;
        font-weight:600;
        color:var(--text);

    }

    .reference-button:hover{

        background:var(--primary);
        border-color:var(--primary);

    }

    .reference-button:hover span{

        color:var(--white);

    }

    .reference-button:hover img{

        filter:brightness(0) invert(1);

    }

    .references-notice{

        margin-top: 50px;
        padding:50px 0 60px;
        background: linear-gradient(180deg, var(--primary-20) -3.29%, var(--surface-overlay) 102.37%);

    }

    .notice-card{

        width:300px;
        margin:0 auto;

        padding:32px 42px;

        background:var(--background);

        border:1px solid var(--text-muted)    ;
        border-radius:30px;

    }

    .notice-header{

        display:flex;
        align-items:center;
        gap:7px;

    }

    .notice-header img{

        width:20px;

    }

    .notice-header h2{

        font-family:'Poppins', sans-serif;
        font-size:12px;
        font-weight:600;
        color:var(--text);

    }

    .notice-card p{

        margin-top:16px;

        font-family:'Poppins', sans-serif;
        font-size:8px;
        font-weight:600;
        color:var(--text-muted);

    }

    /*FOOTER*/

    .mobile-footer{

        width:100%;
        padding:25px 22px;
        background:var(--surface-dark);
        display:flex;
        justify-content:center;
        align-items:center;

    }

    .footer-container{

        display:flex;
        flex-direction:column;
        align-items:center;

    }

    .footer-logo{

        display:flex;
        align-items:center;
        justify-content:center;
        gap:6px;
        margin-bottom:11px;

    }

    .footer-logo img{

        width:31px;

    }

    .footer-logo h2{

        margin-top:7px;
        font-family:'Nunito', sans-serif;
        font-size:13px;
        font-weight:700;
        color:var(--background);

    }

    .mobile-footer p{

        font-family:'Montserrat', sans-serif;
        font-size:8px;
        font-weight:600;
        color:var(--border);
        text-align:center;

    }

    .footer-logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

}

/*TABLET*/

@media (min-width: 768px)  and (max-width:991.98px){

    .header-mobile{
        display:none;
    }

    .header-desktop{
        display:flex;
    }

}

/*DESKTOP*/

@media (min-width: 992px) and (max-width:1199.98px){

    .header-mobile{
        display:none;
    }

    .header-desktop{
        display:flex;
    }

}

/*LARGE SCREEN*/

@media (min-width:1200px){

    .header-mobile{
        display:none;
    }

    .header-desktop{
        display:flex;
    }

}