*{

margin:0;
padding:0;
box-sizing:border-box;

}

:root{

    --white:#FFFFFF;

    --background:#FDFDFD;
    --background-alt:#FDFDFF;
    --background-light:#F5F5F5;

    --primary:#2463EB;
    --primary-hover:#0A51D6;
    --primary-alt:#2563EB;

    --primary-50:#2463EB33;
    --primary-20:rgba(36,99,235,.20);
    --primary-10:rgba(36,99,235,.10);

    --primary-shadow:#2463EB80;

    --primary-light:#C8D8FF;
    --primary-lighter:#E8F0FF;

    --primary-overlay:rgba(47,107,236,.20);
    --primary-overlay-alt:rgba(37,67,135,.20);

    --accent:#DA481F;

    --text:#0F1729;
    --text-alt:#17213D;
    --text-muted:#65758B;
    --text-muted-alt:#64748B;
    --text-light:#A9B2C0;
    --text-black:#000000;

    --border:#88909C;
    --border-light:#CECECE;
    --border-opacity:#88909C81;

    --surface-dark:#1E212B;
    --surface-dark-alt:#1E293B;

    --switch:#3F4757;

    --overlay:rgba(101,117,139,.50);

    --surface-overlay:rgba(253,253,255,.20);

    --shadow-light:rgba(0,0,0,.02);

}

/*MOBILE*/

@media (max-width:767.98px){    

    .header-mobile{
        display:flex;
    }

    .header-desktop{
        display:none;
    }

    header{

        width:100%;
        height:76px;
        background:var(--white);
        display:flex;
        align-items:center;
        padding-block: 24px 28px;
        padding-inline: 28px;
    }

    .navbar{

        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;

    }

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .logo{ 

        display:flex; 
        align-items:center; 
        gap: 3px; 

    }

    .logo img:first-child{

        width: 57px;
        height: 42px;

    }

    .logo-text{

        display:flex;
        align-items:center;
        padding-top: 7px;
        font-family: 'Nunito', sans-serif;

    }

    .logo-text p{

        font-size:20px;
        font-weight:700;
        color:var(--primary-hover);

        letter-spacing:-1px;

    }

    .logo-text strong{

        color:var(--accent);
        font-weight:700;

    }

    .menu-btn{

        width:34px;
        height:32px;
        border: none;
        border-radius: 12px;
        background: var(--primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        margin-top: 4px;

    }

    .menu-btn span{

        width:16px;
        height:2px;
        background:var(--white);
        border-radius:5px;

    }
    
    .menu-overlay{

        position:fixed;
        top:76px;
        left:0;
        width:100%;
        height:calc(100vh - 76px);
        background:var(--overlay);
        display:flex;
        justify-content:flex-end;
        opacity:0;
    visibility:hidden;

    transition:
        opacity .3s ease,
        visibility 0s linear .45s;
        z-index:999;
    }

    .menu-overlay.active{

         opacity:1;
    visibility:visible;

    transition:
        opacity .3s ease,
        visibility 0s;

    }

    .mobile-menu{

        width:220px;
        height:409px;
        background:var(--white);
        border-radius:30px 0 0 30px;
        display:flex;
        flex-direction:column;
        overflow:hidden;
        transform:translateX(100%);
        transition:transform .45s cubic-bezier(0.22, 1, 0.36, 1);

    }

    .mobile-menu a{

        height:60px;
        display:flex;
        justify-content:flex-end;
        padding-right: 30px;
        align-items:center;
        text-decoration:none;
        color:var(--text-muted);
        font-family:'Poppins', sans-serif;
        font-size:15px;
        font-weight:600;
        border-bottom:.5px solid var(--border-opacity);
        transition:0.3s;

    }

    .mobile-menu a:hover{

        color:var(--primary);

    }

    .mobile-menu .active{

        color:var(--primary);

    }

    .mobile-menu a:last-child{

        border-bottom:none;

    }

    .menu-overlay.active .mobile-menu{

        transform:translateX(0);

    }

    body.menu-open{

        overflow:hidden;

    }

    
    .switch{

        margin-top: -5px;
        right: 28px;
        width:34px;
        height:18px;
        background:var(--switch);
        border-radius:30px;
        position:absolute;
        transition:.3s;

    }

    .switch::before{

        content:"";
        width:14px;
        height:14px;
        background:var(--white);
        border-radius:50%;
        position:absolute;
        top:2px;
        left:2px;
        transition:.3s ease;

    }  

    .instructions-hero{

        width:100%;
        padding:30px 22px 50px;
        background:var(--primary-50);

    }

    .instructions-top{

        display:flex;
        justify-content:space-between;
        align-items:flex-start;
        margin-bottom:10px;

    }

    .instructions-tag{

        margin-top:15px;
        margin-inline: auto;
        padding:5px 8px;
        background:var(--primary-20);
        border-radius:20px;
        color:var(--primary);
        font-family:'Montserrat', sans-serif;
        font-size:7px;
        font-weight:600;

    }

    .instructions-hero h1{

        margin-top:0px;
        text-align:center;
        font-family:'Poppins', sans-serif;
        font-size:20px;
        font-weight:700;
        color:var(--text);

    }

    .instructions-hero p{

        margin:10px auto 0;
        max-width:197px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:9px;
        font-weight:600;
        color:var(--text-muted);

    }

    .team-section{

        padding:45px 0;

    }

    .team-tag{

        width:fit-content;
        margin:0 auto;
        padding:5px 8px;
        background:var(--primary-light);
        border-radius:20px;
        font-family:'Montserrat', sans-serif;
        font-size:7px;
        font-weight:600;
        color:var(--primary);

    }

    .team-section h2{

        margin-top:9px;
        text-align:center;
        font-family:'Poppins', sans-serif;
        font-size:20px;
        font-weight:700;
        color:var(--text-alt);

    }

    .team-section > p{

        margin:9px auto 10px;
        max-width:209px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:9px;
        font-weight:600;
        color:var(--text-muted);

    }

    .team-cards{

        margin-top:25px;
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:30px;

    }

    .team-card{

        width:245px;
        padding:15px 8px 17px;
        background:var(--background);
        border:1px solid var(--border);
        border-radius:40px;
        box-shadow:0 6px 0 var(--primary-shadow);
        text-align:center;
    }

    .team-photo{

        width:60px;
        height:60px;  
        aspect-ratio: 1/1;
        border-radius:15px;
        object-fit:cover;

    }

    .team-role{

        width:fit-content;
        margin:6px auto 7px;
        padding:4px 15px;
        background:var(--primary);
        border-radius:30px;
        font-family:'Poppins', sans-serif;
        font-size:7px;
        font-weight:600;
        color:var(--background);

    }

    .team-card h3{

        font-family:'Poppins', sans-serif;
        font-size:12px;
        font-weight:600;
        color:var(--text-alt);

    }

    .team-card span{

        display:block;
        margin:8px auto 0px;
        max-width:220px;
        font-family:'Poppins', sans-serif;
        font-size:7px;
        font-weight:600;
        color:var(--text-muted);

    }

    .team-social{

        margin-top:10px;
        display:flex;
        justify-content:center;
        gap:10px;

    }

    .team-social a{

        width:21px;
        height:21px;
        display:flex;
        justify-content:center;
        align-items:center;
        background:var(--primary);
        border-radius:6px;
        transition:.25s;

    }

    .team-social a:hover{

        transform:translateY(-2px);

    }

    .team-social img{

        width:15px;

    }

    .contact-section{

        padding:45px 22px 70px;
        background: linear-gradient(180deg, var(--primary-overlay) 84.06%, rgba(253, 253, 253, 0.20) 98.95%);

    }

    .contact-tag{

        width:fit-content;
        margin:0 auto;
        padding:5px 12px;
        background:var(--primary-20);;
        border-radius:20px;
        font-family:'Montserrat', sans-serif;
        font-size:7px;
        font-weight:600;
        color:var(--primary);

    }

    .contact-section h2{

        margin-top:12px;
        text-align:center;
        font-family:'Poppins', sans-serif;
        font-size:20px;
        font-weight:700;
        color:var(--text-alt);

    }

    .contact-section > p{

        margin:9px auto 0;
        max-width:209px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:9px;
        font-weight:600;
        color:var(--text-muted);

    }

    .contact-top > p {
        margin:9px auto 0;
        max-width:209px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:9px;
        font-weight:600;
        color:var(--text-muted);
    }

    .contact-form{

        width:280px;
        height: 400px;
        margin:36px auto 0;
        padding:34px 30px 20px;
        background:var(--background);
        border:1px solid var(--text-muted);
        border-radius:30px;
        box-shadow:0 5px 0 var(--primary-shadow);

    }

    .contact-form label{

        display:block;
        margin-bottom:22px;

    }

    .contact-label{

        display:flex;
        align-items:center;
        gap:5px;
        margin-bottom:14px;

    }

    .contact-label img{

        width:15px;

    }

    .contact-label span{

        font-family:'Inter', sans-serif;
        font-size:12px;
        font-weight:700;
        color:var(--text);

    }

    .contact-form input,

    .contact-form textarea{

        width:100%;
        padding:11px 10px;
        border:1px solid var(--text-muted);
        border-radius:10px;
        outline:none;
        font-family:'Poppins', sans-serif;
        font-size:8px;
        font-weight:600;
        color: var(--text);
        transition:.25s;
        resize:none;

    }

    .contact-form textarea{

        min-height:90px;

    }

    .contact-form input::placeholder,

    .contact-form textarea::placeholder{

        color:var(--text-light);

    }

    .contact-form input:focus,

    .contact-form textarea:focus{

        border-color:var(--primary);

    }

    .contact-form button{

        width:100%;
        height:26px;
        display:flex;
        justify-content:center;
        align-items:center;
        gap:5px;
        border:none;
        border-radius:5px;
        background:var(--primary);
        font-family:'Poppins', sans-serif;
        font-size:8px;
        font-weight:700;
        color:var(--background);
        cursor:pointer;
        transition:.25s;

    }

    .contact-form button:hover{

        transform:translateY(-2px);

    }

    .contact-form button img{

        width:10px;

    }

    .contact-form label:last-of-type{
        margin-bottom: 10px;
    }

    /*FOOTER*/
    .footer-desktop{
        display: none;
    }
    .mobile-footer{

        width:100%;
        padding:25px 22px;
        background:var(--surface-dark);
        display:flex;
        justify-content:center;
        align-items:center;

    }

    .footer-container{

        display:flex;
        flex-direction:column;
        align-items:center;

    }

    .footer-logo{

        display:flex;
        align-items:center;
        justify-content:center;
        gap:6px;
        margin-bottom:11px;

    }

    .footer-logo img{

        width:31px;

    }

    .footer-logo h2{

        margin-top:7px;
        font-family:'Nunito', sans-serif;
        font-size:13px;
        font-weight:700;
        color:var(--background);

    }

    .mobile-footer p{

        font-family:'Montserrat', sans-serif;
        font-size:8px;
        font-weight:600;
        color:var(--border);
        text-align:center;

    }

    .footer-logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

/* AQUI COMEÇA O DARK MODE */

    body.dark header{
        background:var(--header);
    }

    body.dark .logo img {
  width: 45px;
  height: auto;          /* Ajuste o tamanho do ícone conforme necessário */
  object-fit: contain; 
  margin-left: 7px;    /* Garante que o Flexbox não estique o elemento */
}

    body.dark .logo-text {
        margin-left: 5px;
    }

    body.dark .logo-text p,
    body.dark .logo-text strong {
        color: #FDFDFD; 
        font-weight: 700;
        font-size: 20px;
    }

    body.dark .switch{

        background:var(--switch-dark-bg);

    }
    
    body.dark .switch::before{

        background:var(--switch-knob-dark);

        transform:translateX(16px);

    }

    body.dark .mobile-menu{

        background:var(--header);

    }

    body.dark .mobile-menu a{

        color:var(--menu-text);

    }

    body.dark .mobile-menu .active{

        color: var(--new-menu-active);

    }

    body.dark .instructions-hero {
        background: var(--hero-bg);
    }

    body.dark .instructions-hero h1 {
        color: var(--menu-text);
    }

    body.dark .instructions-hero p {
        color: var(--hero-p);
    }

    body.dark .team-section {
        background-color: var(--menu-active);
    }

    body.dark .team-tag {
        background-color: var(--team-tag-bg);
    }

    body.dark .team-section h2 {
        color: var(--menu-text);
    }

    body.dark .team-section p {
        color: var(--hero-p);
    }

    body.dark .team-card {
        background-color: var(--switch-knob-dark);
    }

    body.dark .team-role {
        color: var(--switch-knob-dark);
    }

    body.dark .team-card h3 {
        color: var(--menu-text);
    }

    body.dark .team-card p {
        color: var(--hero-p);
    }

    body.dark .contact-section {
        background: var(--contact-bg);
        background-blend-mode: screen;
    }

    body.dark .contact-section h2 {
        color: var(--menu-text);
    }

    body.dark .contact-section p {
        color: var(--hero-p);
    }

    body.dark form {
        background-color: var(--switch-knob-dark);
    }

    body.dark .contact-section span {
        color: var(--menu-text);
    }

    body.dark textarea {
        background-color: var(--switch-knob-dark);
        border: solid 1px var(--border-dark);
    }

    body.dark input {
        background-color: var(--switch-knob-dark);
        border: solid 1px var(--border-dark);
    }

    body.dark input::placeholder {
        color: var(--placeholder-dark);
    }

    body.dark textarea::placeholder {
        color: var(--placeholder-dark);
    }

    body.dark .contact-form input{
        color: var(--hero-p);
    }

    body.dark .contact-form textarea{
        color: var(--hero-p);
    }
}

/* ROOT DO DARK MODE */
body.dark {
    --switch-dark-bg: #FDFDFDCC;
    --switch-knob-dark: #262C3B;

    --header: #1B1E28; 

    --menu-background:#65758B;
    --menu-text:#FDFDFD;
    --menu-active:#1B1F25;
    --new-menu-active: #2463EB;

    --hero-bg:linear-gradient(180deg,#12317afa 0%,#0d2e76 45%,#112045 100%);
    --hero-p: #88909C;

    --team-tag-bg:#2463eb33;

    --contact-bg:  
        linear-gradient(0deg, #090e19 62%, #17429d 152%),
        linear-gradient(180deg, #090e19 70%, #17429d 160%);


    --border-dark: #2463EB;
    --placeholder-dark: #88909C80;
}
/*TABLET*/

@media (min-width: 768px)  and (max-width:991.98px){

    .header-mobile{
        display:none;
    }

    .header-desktop{
        display:flex;
    }

}

/*DESKTOP*/

@media (min-width: 992px) and (max-width:1199.98px){

     .header-mobile{
        display:none;
    }

    .header-desktop{
        display:flex;
    }

   
  
     .header-desktop {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        padding: 0 8%;
        box-sizing: border-box;
    
        background-color: var(--white);
    }
    
    
        .navbar{
    
            width:100%;
            display:flex;
            justify-content:space-between;
            align-items:center;
    
        }
    
        .logo {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }
    
    
        .logo{ 
    
            display:flex; 
            align-items:center; 
            gap: 3px; 
    
        }
    
        .logo img:first-child{
    
            width: 62px;
            height: 55px;
    
        }
    
        .logo-text{
    
            display:flex;
            align-items:center;
            padding-top: 7px;
            font-family: 'Nunito', sans-serif;
    
        }
    
        .logo-text p{
    
            font-size:20px;
            font-weight:700;
            color:var(--primary-hover);
            letter-spacing:-1px;
    
        }
    
        .logo-text strong{
    
            color:var(--accent);
            font-weight:700;
    
        }
    
    
.navegacao {
    display: flex;
    align-items: center;
    gap: 36px;
}

.navegacao a {
    color: #65738b;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.navegacao a:hover {
    color: #2864e6;
}

.navegacao .ativo {
    background-color: #2864e6;
    color: var(--white);

    padding: 12px 18px;
    border-radius: 25px;
}

.navegacao .ativo:hover {
    color: var(--text);
}

     .switch{

         margin-top: -130px;
        right: 68px;
        width:67px;
        height:28px;
        background:var(--switch);
        border-radius:30px;
        position:absolute;
        transition:.3s;

    }

    .switch::before{

        content:"";
        width:24px;
        height:24px;
        background:var(--white);
        border-radius:50%;
        position:absolute;
        top:2px;
        left:2px;
        transition:.3s ease;

    }

    .instructions-hero{

        width:100%;
         padding:200px 32px 200px;
        background:var(--primary-50);

    }

    .instructions-top{

        display:flex;
        justify-content:space-between;
        align-items:flex-start;
        margin-bottom:10px;

    }

    .instructions-tag{
 display:inline-flex;
        justify-content:center;
        align-items:center;
        margin: auto;
        padding: 11px 19px;
        background:  #2864e635;
        border-radius:30px;
        color:var(--primary);
        font-family:'Montserrat', sans-serif;
        font-size:15px;
        font-weight: 600;

    }

    .instructions-hero h1{

      margin-top:0px;
            text-align:center;
            font-family:'Poppins', sans-serif;
            font-size:40px;
            font-weight:700;
            color:var(--text);

    }

    .instructions-hero p{

      margin:20px auto 0;
            max-width:725px;
            text-align:center;
            font-family:'Inter', sans-serif;
            font-size:20px;
            font-weight:600;
            color:var(--text-muted);

    }

    .team-section{
    padding-top: 140px;
}

     .team-tag{
          width: fit-content;
    margin: 0 auto;
    padding: 11px 17px;
        background:var(--primary-light);
        border-radius:20px;
        font-family:'Montserrat', sans-serif;
        font-size:15px;
        font-weight:600;
        color:var(--primary);

    }

    .team-tag + h2{
    margin-top: 35px;
}

    .team-section h2{

        margin-top:18px;
        text-align:center;
        font-family:'Poppins', sans-serif;
        font-size:40px;
        font-weight:700;
        color:var(--text-alt);

    }

    .team-section > p{

        margin:18px auto 10px;
        max-width:808px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:20px;
        font-weight:600;
        color:var(--text-muted);

    }

    .team-cards{
       width: 732px;
    margin: 85px auto 0;
    padding-bottom: 200px;
    margin-left: 1px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 31px;
    row-gap: 54px;
}


.team-card:nth-child(1) {
    grid-column: 2 / span 2;
}

.team-card:nth-child(2) {
    grid-column: 4 / span 2;
}


.team-card:nth-child(3) {
    grid-column: 1 / span 2;
}

.team-card:nth-child(4) {
    grid-column: 3 / span 2;
}

.team-card:nth-child(5) {
    grid-column: 5 / span 2;

    }

    .team-card{

     width:390px;
    padding: 85px 8px 20px;
    margin-bottom: 23px;
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: 20px;
    box-shadow: 0 15px 0 var(--primary-shadow);
    text-align: center;
    }

    .team-photo{
       margin-top: -52px;
        width:90px;
        height:90px;  
        aspect-ratio: 1/1;
        border-radius:15px;
        object-fit:cover;

    }

    .team-role{

        width:fit-content;
        margin:15px auto 7px;
        padding:4px 25px;
        background:var(--primary);
        border-radius:30px;
        font-family:'Poppins', sans-serif;
        font-size:11px;
        font-weight:600;
        color:var(--background);

    }

    .team-card h3{

        font-family:'Poppins', sans-serif;
        font-size:16px;
        font-weight:600;
        color:var(--text-alt);

    }

    .team-card span{

        display:block;
        margin:8px auto 0px;
        max-width:333px;
        font-family:'Poppins', sans-serif;
        font-size:12px;
        font-weight:600;
        color:var(--text-muted);

    }

    .team-social{

        margin-top:21px;
        display:flex;
        justify-content:center;
        gap:20px;

    }

    .team-social a{

        width:35px;
        height:35px;
        display:flex;
        justify-content:center;
        align-items:center;
        background:var(--primary);
        border-radius:6px;
        transition:.25s;

    }

    .team-social a:hover{

        transform:translateY(-2px);

    }

    .team-social img{

        width:27px;

    }



    .contact-section{
     padding: 45px 202px 400px;
        background: linear-gradient(180deg, var(--primary-overlay) 84.06%, rgba(253, 253, 253, 0.20) 98.95%);

    }

    .contact-tag{

        width:fit-content;
        margin: 97px auto 0;
        padding:11px 14px;
        background:var(--primary-20);;
        border-radius:20px;
        font-family:'Montserrat', sans-serif;
        font-size:15px;
        font-weight:600;
        color:var(--primary);

    }

    .contact-section h2{

        margin-top:15px;
        text-align:center;
        font-family:'Poppins', sans-serif;
        font-size:40px;
        font-weight:700;
        color:var(--text-alt);

    }

    .contact-section > p{

        margin:15px auto 0;
        max-width:730px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:20px;
        font-weight:600;
        color:var(--text-muted);

    }

    .contact-top > p {
        margin:9px auto 0;
        max-width:209px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:9px;
        font-weight:600;
        color:var(--text-muted);
    }

    .contact-form{

        width:800px;
        height: 570px;
        margin:96px auto 0;
        padding:70px 100px 20px;
        background:var(--background);
        border:1px solid var(--text-muted);
        border-radius:30px;
        box-shadow:0 15px 0 var(--primary-shadow);

    }

    .contact-form label{

        display:block;
        margin-bottom:32px;

    }

    .contact-label{

        display:flex;
        align-items:center;
        gap:7px;
        margin-bottom:14px;

    }

    .contact-label img{

        width:17px;

    }

    .contact-label span{

        font-family:'Inter', sans-serif;
        font-size:13px;
        font-weight:700;
        color:var(--text);

    }

    .contact-form input,

    .contact-form textarea{

        width:100%;
        padding:11px 24px;
        border:1px solid var(--text-muted);
        border-radius:10px;
        outline:none;
        font-family:'Poppins', sans-serif;
        font-size:13px;
        font-weight:600;
        color: var(--text);
        transition:.25s;
        resize:none;

    }

    .contact-form textarea{

        min-height:90px;

    }

    .contact-form input::placeholder,

    .contact-form textarea::placeholder{

        color:var(--text-light);

    }

    .contact-form input:focus,

    .contact-form textarea:focus{

        border-color:var(--primary);

    }

    .contact-form button{

        width:100%;
        height:45px;
        display:flex;
        justify-content:center;
        align-items:center;
        gap:5px;
        border:none;
        border-radius:5px;
        background:var(--primary);
        font-family:'Poppins', sans-serif;
        font-size:13px;
        font-weight:700;
        color:var(--background);
        cursor:pointer;
        transition:.25s;

    }

    .contact-form button:hover{

        transform:translateY(-2px);

    }

    .contact-form button img{

        width:16px;

    }

    .contact-form label:last-of-type{
        margin-bottom: 14px;
    }   


    .mobile-footer{
        display: none;
    }
   

     /*RODAPÉ DESKTOP*/  
    
        .footer-desktop {
           background-color: #191c26;
           color: #8e95a5;
            padding: 60px 7% 45px;
    }
    .footer-marca img{
        display: flex;
        width: 60px;
        height: auto;
    }
    
    .footer-conteudo {
        max-width: 1700px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-marca {
        width: 300px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 10px;
        row-gap: 25px;
    }
    
    .footer-marca h2 {
        transform: translateY(4px);
        color: white;
        font-size: 20px;
      font-family:'Nunito', sans-serif;
    }
    
    .footer-marca p {
        grid-column: 1 / -1;
        font-family:'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.2;
        width: 305px;
    }
    
    .footer-coluna {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-coluna h3 {
          font-family:'Montserrat', sans-serif;
          margin-top: 12px;
        color: var(--white);
        font-size: 14px;
        margin: 0 0 5px;
    }
    
    .footer-coluna a {
        color: #8e95a5;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
         font-family:'Inter', sans-serif;
    }
    
    .footer-coluna a:hover {
        color: white;
    }
    
    .footer-icones {
        display: flex;
        gap: 12px;
    }
    
    .footer-icones a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2864e6;
        color: white;
        border-radius: 8px;
    }
    
    .footer-icones img{
        width: 23px;
    }
    
    .footer-baixo {
        max-width: 1700px;
        margin: 50px auto 0;
        padding-top: 25px;
        border-top: 1px solid #596171;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-baixo p {
         font-family:'Montserrat', sans-serif;
        margin: 0;
        font-size: 14px;
        font-weight: bold;
    }

    /* AQUI COMEÇA O DARK MODE */

    body.dark header{
        background:var(--header);
    }

    body.dark #logo-mobile{
        max-width: 45px; 
        height: auto;
        object-fit: contain;
        margin-left: 5px;
    }

    body.dark .logo-text {
        margin-left: 5px;
    }

    body.dark .logo-text p,
    body.dark .logo-text strong {
        color: #FDFDFD; 
        font-weight: 700;
        font-size: 20px;
    }

    body.dark .switch{

        background:var(--switch-dark-bg);

    }
    
    body.dark .switch::before{

        background:var(--switch-knob-dark);

        transform:translateX(36px);

    }

    body.dark .mobile-menu{

        background:var(--header);

    }

    body.dark .mobile-menu a{

        color:var(--menu-text);

    }

    body.dark .mobile-menu .active{

        color: var(--new-menu-active);

    }

    body.dark .instructions-hero {
        background: var(--hero-bg);
    }

    body.dark .instructions-hero h1 {
        color: var(--menu-text);
    }

    body.dark .instructions-hero p {
        color: var(--hero-p);
    }

    body.dark .team-section {
        background-color: var(--menu-active);
    }

    body.dark .team-tag {
        background-color: var(--team-tag-bg);
    }

    body.dark .team-section h2 {
        color: var(--menu-text);
    }

    body.dark .team-section p {
        color: var(--hero-p);
    }

    body.dark .team-card {
        background-color: var(--switch-knob-dark);
    }

    body.dark .team-role {
        color: var(--switch-knob-dark);
    }

    body.dark .team-card h3 {
        color: var(--menu-text);
    }

    body.dark .team-card p {
        color: var(--hero-p);
    }

    body.dark .contact-section {
        background: var(--contact-bg);
        background-blend-mode: screen;
    }

    body.dark .contact-section h2 {
        color: var(--menu-text);
    }

    body.dark .contact-section p {
        color: var(--hero-p);
    }

    body.dark form {
        background-color: var(--switch-knob-dark);
    }

    body.dark .contact-section span {
        color: var(--menu-text);
    }

    body.dark textarea {
        background-color: var(--switch-knob-dark);
        border: solid 1px var(--border-dark);
    }

    body.dark input {
        background-color: var(--switch-knob-dark);
        border: solid 1px var(--border-dark);
    }

    body.dark input::placeholder {
        color: var(--placeholder-dark);
    }

    body.dark textarea::placeholder {
        color: var(--placeholder-dark);
    }

    body.dark .contact-form input{
        color: var(--hero-p);
    }

    body.dark .contact-form textarea{
        color: var(--hero-p);
    }

}

/*LARGE SCREEN*/

@media (min-width:1200px){

     .header-mobile{
        display:none;
    }

    .header-desktop{
        display:flex;
    }

   
  
     .header-desktop {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        padding: 0 8%;
        box-sizing: border-box;
    
        background-color: var(--white);
    }
    
    
        .navbar{
    
            width:100%;
            display:flex;
            justify-content:space-between;
            align-items:center;
    
        }
    
        .logo {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }
    
    
        .logo{ 
    
            display:flex; 
            align-items:center; 
            gap: 3px; 
    
        }
    
        .logo img:first-child{
    
            width: 62px;
            height: 55px;
    
        }
    
        .logo-text{
    
            display:flex;
            align-items:center;
            padding-top: 7px;
            font-family: 'Nunito', sans-serif;
    
        }
    
        .logo-text p{
    
            font-size:20px;
            font-weight:700;
            color:var(--primary-hover);
            letter-spacing:-1px;
    
        }
    
        .logo-text strong{
    
            color:var(--accent);
            font-weight:700;
    
        }
    
    
.navegacao {
    display: flex;
    align-items: center;
    gap: 36px;
}

.navegacao a {
    color: #65738b;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.navegacao a:hover {
    color: #2864e6;
}

.navegacao .ativo {
    background-color: #2864e6;
    color: var(--white);

    padding: 12px 18px;
    border-radius: 25px;
}

.navegacao .ativo:hover {
    color: var(--text);
}

     .switch{

         margin-top: -130px;
        right: 68px;
        width:67px;
        height:28px;
        background:var(--switch);
        border-radius:30px;
        position:absolute;
        transition:.3s;

    }

    .switch::before{

        content:"";
        width:24px;
        height:24px;
        background:var(--white);
        border-radius:50%;
        position:absolute;
        top:2px;
        left:2px;
        transition:.3s ease;

    }

    .instructions-hero{

        width:100%;
         padding:200px 32px 200px;
        background:var(--primary-50);

    }

    .instructions-top{

        display:flex;
        justify-content:space-between;
        align-items:flex-start;
        margin-bottom:10px;

    }

    .instructions-tag{
 display:inline-flex;
        justify-content:center;
        align-items:center;
        margin: auto;
        padding: 11px 19px;
        background:  #2864e635;
        border-radius:30px;
        color:var(--primary);
        font-family:'Montserrat', sans-serif;
        font-size:15px;
        font-weight: 600;

    }

    .instructions-hero h1{

      margin-top:0px;
            text-align:center;
            font-family:'Poppins', sans-serif;
            font-size:40px;
            font-weight:700;
            color:var(--text);

    }

    .instructions-hero p{

      margin:20px auto 0;
            max-width:725px;
            text-align:center;
            font-family:'Inter', sans-serif;
            font-size:20px;
            font-weight:600;
            color:var(--text-muted);

    }

    .team-section{
    padding-top: 140px;
}

     .team-tag{
          width: fit-content;
    margin: 0 auto;
    padding: 11px 17px;
        background:var(--primary-light);
        border-radius:20px;
        font-family:'Montserrat', sans-serif;
        font-size:15px;
        font-weight:600;
        color:var(--primary);

    }

    .team-tag + h2{
    margin-top: 35px;
}

    .team-section h2{

        margin-top:18px;
        text-align:center;
        font-family:'Poppins', sans-serif;
        font-size:40px;
        font-weight:700;
        color:var(--text-alt);

    }

    .team-section > p{

        margin:18px auto 10px;
        max-width:808px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:20px;
        font-weight:600;
        color:var(--text-muted);

    }

    .team-cards{
       width: 732px;
    margin: 85px auto 0;
    padding-bottom: 200px;
    margin-left: 315px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 31px;
    row-gap: 54px;
}


.team-card:nth-child(1) {
    grid-column: 2 / span 2;
}

.team-card:nth-child(2) {
    grid-column: 4 / span 2;
}


.team-card:nth-child(3) {
    grid-column: 1 / span 2;
}

.team-card:nth-child(4) {
    grid-column: 3 / span 2;
}

.team-card:nth-child(5) {
    grid-column: 5 / span 2;

    }

    .team-card{

     width:390px;
    padding: 85px 8px 20px;
    margin-bottom: 23px;
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: 20px;
    box-shadow: 0 15px 0 var(--primary-shadow);
    text-align: center;
    }

    .team-photo{
       margin-top: -52px;
        width:90px;
        height:90px;  
        aspect-ratio: 1/1;
        border-radius:15px;
        object-fit:cover;

    }

    .team-role{

        width:fit-content;
        margin:15px auto 7px;
        padding:4px 25px;
        background:var(--primary);
        border-radius:30px;
        font-family:'Poppins', sans-serif;
        font-size:11px;
        font-weight:600;
        color:var(--background);

    }

    .team-card h3{

        font-family:'Poppins', sans-serif;
        font-size:16px;
        font-weight:600;
        color:var(--text-alt);

    }

    .team-card span{

        display:block;
        margin:8px auto 0px;
        max-width:333px;
        font-family:'Poppins', sans-serif;
        font-size:12px;
        font-weight:600;
        color:var(--text-muted);

    }

    .team-social{

        margin-top:21px;
        display:flex;
        justify-content:center;
        gap:20px;

    }

    .team-social a{

        width:35px;
        height:35px;
        display:flex;
        justify-content:center;
        align-items:center;
        background:var(--primary);
        border-radius:6px;
        transition:.25s;

    }

    .team-social a:hover{

        transform:translateY(-2px);

    }

    .team-social img{

        width:27px;

    }



    .contact-section{
     padding: 45px 202px 400px;
        background: linear-gradient(180deg, var(--primary-overlay) 84.06%, rgba(253, 253, 253, 0.20) 98.95%);

    }

    .contact-tag{

        width:fit-content;
        margin: 97px auto 0;
        padding:11px 14px;
        background:var(--primary-20);;
        border-radius:20px;
        font-family:'Montserrat', sans-serif;
        font-size:15px;
        font-weight:600;
        color:var(--primary);

    }

    .contact-section h2{

        margin-top:15px;
        text-align:center;
        font-family:'Poppins', sans-serif;
        font-size:40px;
        font-weight:700;
        color:var(--text-alt);

    }

    .contact-section > p{

        margin:15px auto 0;
        max-width:730px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:20px;
        font-weight:600;
        color:var(--text-muted);

    }

    .contact-top > p {
        margin:9px auto 0;
        max-width:209px;
        text-align:center;
        font-family:'Inter', sans-serif;
        font-size:9px;
        font-weight:600;
        color:var(--text-muted);
    }

    .contact-form{

        width:800px;
        height: 570px;
        margin:96px auto 0;
        padding:70px 100px 20px;
        background:var(--background);
        border:1px solid var(--text-muted);
        border-radius:30px;
        box-shadow:0 15px 0 var(--primary-shadow);

    }

    .contact-form label{

        display:block;
        margin-bottom:32px;

    }

    .contact-label{

        display:flex;
        align-items:center;
        gap:7px;
        margin-bottom:14px;

    }

    .contact-label img{

        width:17px;

    }

    .contact-label span{

        font-family:'Inter', sans-serif;
        font-size:13px;
        font-weight:700;
        color:var(--text);

    }

    .contact-form input,

    .contact-form textarea{

        width:100%;
        padding:11px 24px;
        border:1px solid var(--text-muted);
        border-radius:10px;
        outline:none;
        font-family:'Poppins', sans-serif;
        font-size:13px;
        font-weight:600;
        color: var(--text);
        transition:.25s;
        resize:none;

    }

    .contact-form textarea{

        min-height:90px;

    }

    .contact-form input::placeholder,

    .contact-form textarea::placeholder{

        color:var(--text-light);

    }

    .contact-form input:focus,

    .contact-form textarea:focus{

        border-color:var(--primary);

    }

    .contact-form button{

        width:100%;
        height:45px;
        display:flex;
        justify-content:center;
        align-items:center;
        gap:5px;
        border:none;
        border-radius:5px;
        background:var(--primary);
        font-family:'Poppins', sans-serif;
        font-size:13px;
        font-weight:700;
        color:var(--background);
        cursor:pointer;
        transition:.25s;

    }

    .contact-form button:hover{

        transform:translateY(-2px);

    }

    .contact-form button img{

        width:16px;

    }

    .contact-form label:last-of-type{
        margin-bottom: 14px;
    }   


    .mobile-footer{
        display: none;
    }
   

     /*RODAPÉ DESKTOP*/  
    
        .footer-desktop {
           background-color: #191c26;
           color: #8e95a5;
            padding: 60px 7% 45px;
    }
    .footer-marca img{
        display: flex;
        width: 60px;
        height: auto;
    }
    
    .footer-conteudo {
        max-width: 1700px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-marca {
        width: 300px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 10px;
        row-gap: 25px;
    }
    
    .footer-marca h2 {
        transform: translateY(4px);
        color: white;
        font-size: 20px;
      font-family:'Nunito', sans-serif;
    }
    
    .footer-marca p {
        grid-column: 1 / -1;
        font-family:'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.2;
        width: 305px;
    }
    
    .footer-coluna {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-coluna h3 {
          font-family:'Montserrat', sans-serif;
          margin-top: 12px;
        color: var(--white);
        font-size: 14px;
        margin: 0 0 5px;
    }
    
    .footer-coluna a {
        color: #8e95a5;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
         font-family:'Inter', sans-serif;
    }
    
    .footer-coluna a:hover {
        color: white;
    }
    
    .footer-icones {
        display: flex;
        gap: 12px;
    }
    
    .footer-icones a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2864e6;
        color: white;
        border-radius: 8px;
    }
    
    .footer-icones img{
        width: 23px;
    }
    
    .footer-baixo {
        max-width: 1700px;
        margin: 50px auto 0;
        padding-top: 25px;
        border-top: 1px solid #596171;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-baixo p {
         font-family:'Montserrat', sans-serif;
        margin: 0;
        font-size: 14px;
        font-weight: bold;
    }

    /* AQUI COMEÇA O DARK MODE */

    body.dark header{
        background:var(--header);
    }

    body.dark #logo-mobile{
        max-width: 45px; 
        height: auto;
        object-fit: contain;
        margin-left: 5px;
    }

    body.dark .logo-text {
        margin-left: 5px;
    }

    body.dark .logo-text p,
    body.dark .logo-text strong {
        color: #FDFDFD; 
        font-weight: 700;
        font-size: 20px;
    }

    body.dark .switch{

        background:var(--switch-dark-bg);

    }
    
    body.dark .switch::before{

        background:var(--switch-knob-dark);

        transform:translateX(36px);

    }

    body.dark .mobile-menu{

        background:var(--header);

    }

    body.dark .mobile-menu a{

        color:var(--menu-text);

    }

    body.dark .mobile-menu .active{

        color: var(--new-menu-active);

    }

    body.dark .instructions-hero {
        background: var(--hero-bg);
    }

    body.dark .instructions-hero h1 {
        color: var(--menu-text);
    }

    body.dark .instructions-hero p {
        color: var(--hero-p);
    }

    body.dark .team-section {
        background-color: var(--menu-active);
    }

    body.dark .team-tag {
        background-color: var(--team-tag-bg);
    }

    body.dark .team-section h2 {
        color: var(--menu-text);
    }

    body.dark .team-section p {
        color: var(--hero-p);
    }

    body.dark .team-card {
        background-color: var(--switch-knob-dark);
    }

    body.dark .team-role {
        color: var(--switch-knob-dark);
    }

    body.dark .team-card h3 {
        color: var(--menu-text);
    }

    body.dark .team-card p {
        color: var(--hero-p);
    }

    body.dark .contact-section {
        background: var(--contact-bg);
        background-blend-mode: screen;
    }

    body.dark .contact-section h2 {
        color: var(--menu-text);
    }

    body.dark .contact-section p {
        color: var(--hero-p);
    }

    body.dark form {
        background-color: var(--switch-knob-dark);
    }

    body.dark .contact-section span {
        color: var(--menu-text);
    }

    body.dark textarea {
        background-color: var(--switch-knob-dark);
        border: solid 1px var(--border-dark);
    }

    body.dark input {
        background-color: var(--switch-knob-dark);
        border: solid 1px var(--border-dark);
    }

    body.dark input::placeholder {
        color: var(--placeholder-dark);
    }

    body.dark textarea::placeholder {
        color: var(--placeholder-dark);
    }

    body.dark .contact-form input{
        color: var(--hero-p);
    }

    body.dark .contact-form textarea{
        color: var(--hero-p);
    }
}

/* ROOT DO DARK MODE */
body.dark {
    --switch-dark-bg: #FDFDFDCC;
    --switch-knob-dark: #262C3B;

    --header: #1B1E28; 

    --menu-background:#65758B;
    --menu-text:#FDFDFD;
    --menu-active:#1B1F25;
    --new-menu-active: #2463EB;

    --hero-bg:linear-gradient(180deg,#12317afa 0%,#0d2e76 45%,#112045 100%);
    --hero-p: #88909C;

    --team-tag-bg:#2463eb33;

    --contact-bg:  
        linear-gradient(0deg, #090e19 62%, #17429d 152%),
        linear-gradient(180deg, #090e19 70%, #17429d 160%);


    --border-dark: #2463EB;
    --placeholder-dark: #88909C80;
}

    


